@use "../../foundation/_mixin.scss" as m;

.c-bold{
  padding-bottom: 69px;
  color: #3C2A10;
  position: relative;
  left: 5%;
  width: 90%;
    @include m.tab{
      padding-bottom: 149px;
    }
    @include m.pc{
      padding-bottom: 274px;
    }
}

